@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
    user-select: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #666;
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgb(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

/* /////////////////////// */
header {
    max-height: 80px;
}

header .container .search-form {
    flex: 1;
}

header .container .search-form form .form-control {
    outline: 0 !important;
    max-width: 550px;
    margin: auto;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width:768px) {
    header .search-form {
        /* display: none; */
        background: none
    }

    header .container .search-form {
        justify-content: space-between !important;
    }
}

header .links a:hover i {
    color: var(--dark-color) !important;
}

.header2 {
    background: var(--green);
}

.header2 .nav a {
    display: inline-block;
    font-size: 1.7rem;
    padding: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.header2 .nav a:hover {
    background-color: var(--dark-color);
}

#search-btn:hover {
    color: var(--dark-color) !important;
}

#search-btn {
    display: none;
}

body {
    height: 333rem;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header2 {
        display: none;
    }

    .header header {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header header .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
    }

    .header header .search-form.active {
        top: 115%;
    }

    .header header .search-form .form-control {
        box-shadow: var(--box-shadow);
    }

    #search-btn {
        display: inline-block;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

/* bottom navbar */
.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

@media (max-width:768px) {
    .bottom-navbar {
        display: block;
    }
}

.bottom-navbar a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

/* Login Form */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 1000000;
    height: 100%;
    width: 100%;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    margin: 2rem;
    border-radius: .5;
    -webkit-border-radius: .5;
    -moz-border-radius: .5;
    -ms-border-radius: .5;
    -o-border-radius: .5;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box-input {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.Btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.Btn:hover {
    background: var(--dark-color);
}

.login-form-container form .Btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);

}

.login-form-container #close-btn-login {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* Book Slider */
.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img {
    height: 25rem;
}

.home .row .books-slider a {}

.home .row .books-slider a:hover img {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

.home .row .books-slider .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .content .Btn:hover {
    color: #fff;
}

@media (max-width:768px) {
    .home .row .content {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 3.5rem;
    }
}

/* Icon section */
.icon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icon-container .icons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

@media (max-width:768px) {
    .icon-container .icon {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.icon-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icon-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icon-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* Featured section */
.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.featured .featured-slider .box:hover{
    border: var(--border-hover);
}
.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}
.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
    -webkit-transform: translateY(6rem);
    -moz-transform: translateY(6rem);
    -ms-transform: translateY(6rem);
    -o-transform: translateY(6rem);
}
.featured .featured-slider .box .image img{
    height: 25rem;
}
.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    -o-transform: translateY(-105%);
}
.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding:.1rem 1.5rem;
}
.featured .featured-slider .box .icons a:hover{
    background: var(--green);
    color: #fff;
}
.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}
.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}
.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}
.featured .featured-slider .box .Btn{
    color: #fff;
}
.swiper-button-next,
.swiper-button-prev{
    border: var(--border-hover);
    width: 4rem;
    height: 4rem;
    color: var(--black);
    background: #fff;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: #fff;
    background: var(--black);
}